<footer class="p-body pt-[10.417vw]" id="footer">
  <div class="flex lg:flex-row flex-col lg:justify-between lg:items-end pb-[44px] lg:pb-[3.056vw] gap-[60px] lg:gap-0">
    <div>
      <p class="text-sfumatura text-[40px] leading-[44px] -tracking-[1.2px] lg:text-[3.889vw] lg:-tracking-[0.117vw] lg:leading-[4.167vw] font-[700]">facci uno squillo</p>
    </div>
    <div>
      <img src="/img/assets/icon-google-partner.svg" alt="" />
    </div>
  </div>
  <div class="border-t-bianco border-t-[0.069vw] pb-[44px] lg:pb-[3.056vw]"></div>
  <div class="flex flex-col lg:flex-row lg:justify-between lg:items-center items-start">
    <div class="lg:w-2/5">
      <img src="/img/assets/logo.svg" alt="" class="w-[249px] lg:w-full" />
    </div>
    <div class="flex flex-col lg:gap-[3.056vw] gap-[24px] pt-[44px] lg:pt-0">
      <p class="text-bianco lg:text-right text-left">
        Via Nazario Sauro 513<br />
        55100 - Lucca, Italia
      </p>
      <p class="text-bianco lg:text-right text-left">
        T. +39 0583 406479<br />
        M. info@demia.org
      </p>
    </div>
  </div>
  <div class="bg-sfumatura lg:mb-[3.056vw] mb-[44px] lg:mt-[4.167vw] mt-[60px] marquee w-[100vw] -ml-[16px] lg:-ml-[2.22vw] box-border py-[24px] lg:py-[2.5vw]">
    <p class="marquee-text marquee-inner flex flex-row gap-[44px] lg:gap-[6.944vw]">
      <a href="">facebook</a>
      <a href="">linkedin</a>
      <a href="">youtube</a>
      <a href="">tiktok</a>
      <a href="">instagram</a>
      <a href="">facebook</a>
      <a href="">linkedin</a>
      <a href="">youtube</a>
      <a href="">tiktok</a>
      <a href="">instagram</a>
      <a href="">facebook</a>
      <a href="">linkedin</a>
      <a href="">youtube</a>
      <a href="">tiktok</a>
      <a href="">instagram</a>
    </p>
  </div>
  <div class="flex flex-col lg:flex-row justify-between pb-[24px] lg:pb-[2.222vw] gap-[12px] lg:gap-0" id="finalfooter">
    <div>
      <p>COPYRIGHT DEMIA © 2024</p>
    </div>
    <div>
      <p>P.IVA 02311060467 | Cap. Soc. 10.000 € iv | N.REA: LU215184 | demiasrls@pec.it</p>
    </div>
    <div class="flex flex-row gap-[12px] lg:gap-[0.833vw]">
      <p>
        <a href="">PRIVACY POLICY</a>
      </p>
      <p>
        <a href="">COOKIE POLICY</a>
      </p>
    </div>
  </div>
</footer>
<script src="../../public/libs/main.js"></script>
