<div class="relative z-[99] backdrop-blur-lg mix-blend-difference rounded-[100px]" id="box-header">
  <header class="bg-[#ffffff40] dark:bg-[#2a2a2a40] lg:py-[1.111vw] py-[12px] lg:px-[2.222vw] px-[16px] rounded-[100px] w-full flex flex-row items-center justify-between" id="header">
    <div>
      <a href="/index"><img src="/img/assets/logo.svg" alt="" id="logo" class="max-w-[105px] lg:max-w-fit" /></a>
    </div>
    <div class="flex flex-row items-center gap-[8px] lg:gap-[0.556vw]">
      <p class="text-bianco" id="textmenu">menu</p>
      <div class="hamburger-icon hover-target click-menu" id="icon">
        <div class="icon-1" id="a"></div>
        <div class="icon-2" id="b"></div>
      </div>
    </div>
  </header>
  <div id="nav" class="fixed bg-[#ffffff40] right-[16px] lg:right-[2.22vw] top-[16px] lg:top-[2.5vw] p-[32px] lg:p-[2.222vw] w-[280px] lg:w-[19.514vw] backdrop-blur-xl hidden z-[100] rounded-[32px] lg:rounded-[2.222vw]">
    <ul class="pt-[2.222vw] flex flex-col">
      <li class="title-menu">
        <a href="/index"><span class="text">home</span></a>
        <a href="/index"><span class="hover-text">home</span></a>
      </li>
      <li class="title-menu">
        <a href="/chi-siamo"><span class="text">studio</span></a>
        <a href="/chi-siamo"><span class="hover-text">studio</span></a>
      </li>
      <li class="title-menu">
        <a href="/portfolio"><span class="text">portfolio</span></a>
        <a href="/portfolio"><span class="hover-text">portfolio</span></a>
      </li>
      <li class="title-menu">
        <a href="#" class="accordion flex flex-row items-center">servizi<span class="inline-block ml-[0.347vw]"><img src="/img/assets/icon-plus.svg" alt="" /></span></a>
        <div class="content">
          <ul class="mt-[0.833vw]">
            <li><a href="/brand-strategy">brand strategy</a></li>
            <li><a href="/graphic-design">graphic design</a></li>
            <li><a href="/web-development">web development</a></li>
            <li><a href="/digital-marketing">digital marketing</a></li>
            <li><a href="/media-production">media production</a></li>
          </ul>
        </div>
      </li>
      <li class="title-menu">
        <a href="#"><span class="text">blog</span></a>
        <a href="#"><span class="hover-text">blog</span></a>
      </li>
      <li class="title-menu">
        <a href="/contatti"><span class="text">contatti</span></a>
        <a href="/contatti"><span class="hover-text">contatti</span></a>
      </li>
    </ul>
  </div>
</div>
