---
import Layout from "../layouts/Layout.astro";
import Divano from "../components/Divano.astro";
---

<Layout title="asd" description="asd">
  <!-- <div class="contatore flex flex-row items-center justify-center !hidden">
    <div class="container-foto relative">
      <img src="img/intro/img1.jpg" alt="Foto 1" class="foto" />
      <img src="img/intro/img2.jpg" alt="Foto 2" class="foto" />
      <img src="img/intro/img3.jpg" alt="Foto 3" class="foto" />
      <img src="img/intro/img4.jpg" alt="Foto 4" class="foto" />
    </div>
    <div class="bg-sfumatura h-[1.667vw] w-full absolute z-0"></div>
    <p class="load">0</p>
  </div>
  <div class="overlayhero !hidden" id="overlayhero">
    <p class="text-bianco text-[13.889vw] font-[700]" id="word">Ciao</p>
  </div> -->
  <section class="p-body pt-[2.5vw] lg:h-auto h-screen" id="content">
    <!--?php include 'includes/header.php'?-->
    <div class="lg:mt-[10.194vw] mt-[150px] flex lg:flex-row flex-col lg:items-end lg:justify-between title-hero">
      <div>
        <img src="img/assets/titolo-hero-1.svg" alt="" class="title-hero1 w-[53.472vw] saturate-[1.3]" />
        <img src="img/assets/titolo-hero-2.svg" alt="" class="title-hero2 w-[78.403vw] my-[4px] saturate-[1.3]" />
        <img src="img/assets/titolo-hero-3.svg" alt="" class="title-hero3 w-[55.139vw] saturate-[1.3]" />
      </div>
      <div id="prevideo"></div>
      <div>
        <p class="lg:text-[0.972vw] text-[14px] font-[400] lg:leading-[0.972vw] leading-[14px] lg:-tracking-[0.039vw] -tracking-[0.56px] lg:text-bianco text-bianco/50 lg:hidden block mt-[120px] lg:mt-0">
          un’agenzia di marketing<br />
          creativamente concreta
        </p>
        <p class="text-bianco lg:text-right text-left text-[20px] leading-[24px] -tracking-[0.6px] lg:text-[1.528vw] lg:leading-[1.667vw] lg:-tracking-[0.05vw] mt-[24px] lg:mt-0">
          le cose migliori si<br class="hidden lg:block" />
          trovano sempre<br class="block lg:hidden" />
          <b
            >al di là<br class="hidden lg:block" />
            dello straordinario.</b
          >
        </p>
      </div>
    </div>
    <div class="lg:fixed relative mix-blend-difference pl-0 pr-0 lg:pl-[2.222vw] lg:pr-[2.222vw] lg:flex flex-row w-full justify-between bottom-0 pb-[2.5vw] left-0 right-0 z-[99]">
      <div>
        <p class="lg:text-[0.972vw] text-[14px] font-[400] lg:leading-[0.972vw] leading-[14px] lg:-tracking-[0.039vw] -tracking-[0.56px] lg:text-bianco text-bianco/50 hidden lg:block">
          un’agenzia di marketing<br />
          creativamente concreta
        </p>
      </div>
      <div class="link-rapidi-bb mt-[24px] lg:mt-0">
        <a href="chi-siamo.php" class="button-small">lo studio</a>
        <a href="portfolio.php" class="button-small">portfolio</a>
        <a href="contatti.php" class="button-small">contatti</a>
      </div>
    </div>
  </section>
  <div id="video-home" class="lg:pt-[10.417vw] xl:pt-[5.417vw] 2xl:pt-[5.417vw] lg:h-auto h-[100vh] relative mx-auto">
    <video autoplay loop muted playsinline preload="none" class="lazy-video lg:w-[30.556vw] object-cover h-full mx-auto video">
      <source src="video/video.mp4" type="video/mp4" class="rounded-lg" />
    </video>
    <div class="gradient-border"></div>
  </div>
  <!-- <div style="height: 55vh"></div> -->
  <!-- Sezione successiva con margine indipendente -->
  <section class="p-body flex lg:flex-row flex-col lg:justify-between lg:items-center mt-[150px] lg:mt-[10.417vw]" id="intro-sub-hero">
    <div class="overflow-hidden">
      <h1 class="text-bianco font-[700] reveal-text">
        nella nostra agenzia<br class="hidden lg:block" />
        di marketing e<br class="hidden lg:block" />
        comunicazione,<br class="hidden lg:block" />
        ogni progetto è unico.
      </h1>
    </div>
    <div class="mt-[44px] lg:mt-0">
      <img src="img/assets/title-sbirciatina.svg" alt="" class="lg:grayscale lg:hover:grayscale-0 transition-all ease-out hover:ease-in duration-[200ms]" />
    </div>
  </section>
  <section class="p-body flex flex-row lg:flex-col items-center justify-center py-[150px] lg:mb-0 lg:py-[20.833vw]" id="loghi-clienti">
    <div class="flex lg:flex-row flex-col items-center justify-between gap-[6.944vw] lg:h-[60px] lg:w-2/3 w-1/2">
      <div class="lg:w-1/4 w-1/2 flex items-center justify-center h-[80px] lg:h-auto">
        <img src="img/loghi/spirulina.svg" alt="logo1" class="logo" />
      </div>
      <div class="lg:w-1/4 w-1/2 flex items-center justify-center h-[80px] lg:h-auto">
        <img src="img/loghi/martinelli.svg" alt="logo1" class="logo" />
      </div>
      <div class="lg:w-1/4 w-1/2 flex items-center justify-center h-[80px] lg:h-auto">
        <img src="img/loghi/celyon.svg" alt="logo1" class="logo" />
      </div>
      <div class="lg:w-1/4 w-1/2 flex items-center justify-center h-[80px] lg:h-auto">
        <img src="img/loghi/crever.svg" alt="logo1" class="logo" />
      </div>
    </div>
    <div class="flex lg:flex-row flex-col items-center justify-between gap-[6.944vw] lg:h-[60px] lg:w-2/3 w-1/2 lg:pt-[6.944vw]">
      <div class="lg:w-1/4 w-1/2 flex items-center justify-cente h-[80px] lg:h-auto">
        <img src="img/loghi/perillo.svg" alt="logo1" class="logo" />
      </div>
      <div class="lg:w-1/4 w-1/2 flex items-center justify-center h-[80px] lg:h-auto">
        <img src="img/loghi/de-core.svg" alt="logo1" class="logo" />
      </div>
      <div class="lg:w-1/4 w-1/2 flex items-center justify-center h-[80px] lg:h-auto">
        <img src="img/loghi/esobit.svg" alt="logo1" class="logo" />
      </div>
      <div class="lg:w-1/4 w-1/2 flex items-center justify-center h-[80px] lg:h-auto">
        <img src="img/loghi/estix.svg" alt="logo1" class="logo" />
      </div>
    </div>
  </section>
  <section class="lg:h-[80vh] p-body">
    <video autoplay loop muted playsinline preload="none" class="lazy-video lg:w-[30.556vw] w-full object-cover h-[440px] lg:h-full mx-auto video rounded-[16px] lg:rounded-[1.697vw]">
      <source src="video/video-home.mp4" type="video/mp4" class="" />
    </video>
  </section>
  <section class="p-body" id="portfolio-home">
    <div class="pin-container">
      <h2 class="portfolio-text text-bianco text-[20.833vw] -tracking-[0.625vw] font-[700] text-center">portfolio</h2>
    </div>
    <div class="scroll-container">
      <div class="relative box-portfolio-home">
        <div class="absolute left-0 top-0 w-full h-full lg:rounded-[1.667vw] rounded-[16px] bg-nero/10"></div>
        <video autoplay loop muted playsinline preload="none" class="lazy-video w-full object-cover h-[440px] lg:h-[41.667vw] rounded-[16px] lg:rounded-[1.667vw]">
          <source src="video/home-portfolio/decore.mp4" type="video/mp4" />
        </video>
        <div class="absolute bottom-[32px] lg:bottom-[2.222vw] left-[16px] lg:left-[36px] flex flex-col">
          <div class="mb-[24px] lg:mb-0">
            <p class="title">de-core</p>
          </div>
          <div class="flex flex-wrap gap-[4px] w-2/3 lg:w-full lg:flex-none">
            <p class="button-small">marketing strategy</p>
            <p class="button-small">branding</p>
            <p class="button-small">web design</p>
            <p class="button-small">photograpy</p>
          </div>
        </div>
      </div>
      <div class="relative box-portfolio-home">
        <div class="absolute left-0 top-0 w-full h-full lg:rounded-[1.667vw] rounded-[16px] bg-nero/10"></div>
        <video autoplay loop muted playsinline preload="none" class="lazy-video w-full object-cover h-[440px] lg:h-[41.667vw] rounded-[16px] lg:rounded-[1.667vw]">
          <source src="video/home-portfolio/alpipan.mp4" type="video/mp4" />
        </video>
        <div class="absolute bottom-[32px] lg:bottom-[2.222vw] left-[16px] lg:left-[36px] flex flex-col">
          <div class="mb-[24px] lg:mb-0">
            <p class="title">alpipan</p>
          </div>
          <div class="flex flex-wrap gap-[4px] w-2/3 lg:w-full lg:flex-none">
            <p class="button-small">marketing strategy</p>
            <p class="button-small">branding</p>
            <p class="button-small">web design</p>
            <p class="button-small">photograpy</p>
          </div>
        </div>
      </div>
      <div class="relative box-portfolio-home">
        <div class="absolute left-0 top-0 w-full h-full lg:rounded-[1.667vw] rounded-[16px] bg-nero/10"></div>
        <video autoplay loop muted playsinline preload="none" class="lazy-video w-full object-cover h-[440px] lg:h-[41.667vw] rounded-[16px] lg:rounded-[1.667vw]">
          <source src="video/home-portfolio/crever.mp4" type="video/mp4" />
        </video>
        <div class="absolute bottom-[32px] lg:bottom-[2.222vw] left-[16px] lg:left-[36px] flex flex-col">
          <div class="mb-[24px] lg:mb-0">
            <p class="title">crever</p>
          </div>
          <div class="flex flex-wrap gap-[4px] w-2/3 lg:w-full lg:flex-none">
            <p class="button-small">marketing strategy</p>
            <p class="button-small">branding</p>
            <p class="button-small">web design</p>
            <p class="button-small">photograpy</p>
          </div>
        </div>
      </div>
      <div class="relative box-portfolio-home">
        <div class="absolute left-0 top-0 w-full h-full lg:rounded-[1.667vw] rounded-[16px] bg-nero/10"></div>
        <video autoplay loop muted playsinline preload="none" class="lazy-video w-full object-cover h-[440px] lg:h-[41.667vw] rounded-[16px] lg:rounded-[1.667vw]">
          <source src="video/home-portfolio/martinelli.mp4" type="video/mp4" />
        </video>
        <div class="absolute bottom-[32px] lg:bottom-[2.222vw] left-[16px] lg:left-[36px] flex flex-col">
          <div class="mb-[24px] lg:mb-0">
            <p class="title">martinelli</p>
          </div>
          <div class="flex flex-wrap gap-[4px] w-2/3 lg:w-full lg:flex-none">
            <p class="button-small">marketing strategy</p>
            <p class="button-small">branding</p>
            <p class="button-small">web design</p>
            <p class="button-small">photograpy</p>
          </div>
        </div>
      </div>
      <div class="mb-[150px] mt-[150px] lg:mb-[10.417vw] text-center" id="pre-servizi">
        <a href="portfolio.php">
          <button class="big-button">
            scoprili tutti
            <span></span>
          </button>
        </a>
      </div>
    </div>
  </section>
  <section class="py-[150px] lg:py-[10.417vw] bg-bianco p-body">
    <div class="flex flex-row justify-between border-nero lg:border-b-[0.139vw] border-b-[1px] pb-[8px] lg:pb-[0.833vw]">
      <p class="text-nero font-[700]">altra cosina da scrivere qui</p>
      <div class="flex flex-row gap-[0.833vw]">
        <p class="text-nero font-[700]">
          <span class="text hover-target">i nostri servizi</span>
        </p>
      </div>
    </div>
    <div class="py-[100px] lg:py-[10.417vw]">
      <div class="flex flex-col lg:flex-row lg:items-end lg:justify-between">
        <p class="text-nero font-[700] title lg:w-1/2">
          amiamo ciò<br />
          che facciamo
        </p>
        <p class="text-nero font-[300] lg:w-1/2 mt-[24px] lg:mt-0">Lorem ipsum dolor sit amet consectetur. Turpis non vulputate consequat odio in ultrices. Eget porta scelerisque eros orci eget dictum metus aliquam nulla. Eu mauris facilisi adipiscing diam faucibus fermentum. Luctus sem in vulputate nec lectus nisl vulputate fringilla in.</p>
      </div>
    </div>
    <div class="flex flex-col gap-[20px] lg:gap-[1.389vw]" id="lista-servizi">
      <div class="bg-magenta px-[16px] py-[44px] lg:px-[4.167vw] lg:py-[3.056vw] flex flex-col lg:flex-row lg:items-end items-start rounded-[16px] lg:rounded-[1.667vw] gap-[44px] lg:gap-[6.944vw] card-servizi">
        <div class="lg:w-1/4 flex lg:flex-col items-start lg:justify-end">
          <p class="text-[72px] leading-[76px] -tracking-[2.16px] lg:text-[9.722vw] lg:leading-[7.5vw] lg:-tracking-[0.292vw] font-[700] text-bianco">01</p>
        </div>
        <div class="lg:w-2/3 flex flex-col justify-between gap-[4px] lg:gap-[6.944vw]">
          <div class="flex flex-col gap-[4px] lg:gap-[0.556vw]">
            <div>
              <p class="button-small">analisi business</p>
              <p class="button-small">vision e focus</p>
              <p class="button-small">branding</p>
            </div>
            <div>
              <p class="button-small">brand positioning</p>
              <p class="button-small">narrativa del brand</p>
              <p class="button-small mt-[4px] lg:mt-0">value proposition</p>
            </div>
          </div>
          <div class="mt-[44px] lg:mt-0">
            <p class="text-[32px] leading-[36px] -tracking-[0.96px] lg:text-[3.056vw] lg:-tracking-[0.092vw] lg:leading-[3.333vw] font-[700] text-bianco">brand strategy</p>
          </div>
        </div>
        <div class="arrow-box lg:w-1/6 flex flex-row lg:flex-col lg:items-end lg:justify-end overflow-hidden items-start justify-start">
          <a href="brand-strategy.php"><img src="img/assets/icon-arrow.svg" alt="Arrow Icon" class="w-[34px] lg:w-[4.861vw] img img-top" /></a>
          <a href="brand-strategy.php"><img src="img/assets/icon-arrow.svg" alt="Arrow Icon" class="w-[34px] lg:w-[4.861vw] img img-bottom" /></a>
        </div>
      </div>
      <div class="bg-rosso px-[16px] py-[44px] lg:px-[4.167vw] lg:py-[3.056vw] flex flex-col lg:flex-row lg:items-end items-start rounded-[16px] lg:rounded-[1.667vw] gap-[44px] lg:gap-[6.944vw] card-servizi">
        <div class="lg:w-1/4 flex lg:flex-col items-start lg:justify-end">
          <p class="text-[72px] leading-[76px] -tracking-[2.16px] lg:text-[9.722vw] lg:leading-[7.5vw] lg:-tracking-[0.292vw] font-[700] text-bianco">02</p>
        </div>
        <div class="lg:w-2/3 flex flex-col justify-between gap-[4px] lg:gap-[6.944vw]">
          <div class="flex flex-col gap-[4px] lg:gap-[0.556vw]">
            <div>
              <p class="button-small">visual identity</p>
              <p class="button-small">art direction</p>
              <p class="button-small">ux/ui design</p>
            </div>
            <div>
              <p class="button-small">packaging design</p>
              <p class="button-small">adv e affissioni</p>
              <p class="button-small mt-[4px] lg:mt-0">service design</p>
            </div>
          </div>
          <div class="mt-[44px] lg:mt-0">
            <p class="text-[32px] leading-[36px] -tracking-[0.96px] lg:text-[3.056vw] lg:-tracking-[0.092vw] lg:leading-[3.333vw] font-[700] text-bianco">graphic design</p>
          </div>
        </div>
        <div class="arrow-box w-1/6 flex flex-col items-end justify-end overflow-hidden">
          <a href="graphic-design.php"><img src="img/assets/icon-arrow.svg" alt="Arrow Icon" class="w-[4.861vw] img img-top" /></a>
          <a href="graphic-design.php"><img src="img/assets/icon-arrow.svg" alt="Arrow Icon" class="w-[4.861vw] img img-bottom" /></a>
        </div>
      </div>
      <div class="bg-arancio px-[16px] py-[44px] lg:px-[4.167vw] lg:py-[3.056vw] flex flex-col lg:flex-row lg:items-end items-start rounded-[16px] lg:rounded-[1.667vw] gap-[44px] lg:gap-[6.944vw] card-servizi">
        <div class="lg:w-1/4 flex lg:flex-col items-start lg:justify-end">
          <p class="text-[72px] leading-[76px] -tracking-[2.16px] lg:text-[9.722vw] lg:leading-[7.5vw] lg:-tracking-[0.292vw] font-[700] text-bianco">03</p>
        </div>
        <div class="lg:w-2/3 flex flex-col justify-between gap-[4px] lg:gap-[6.944vw]">
          <div class="flex flex-col gap-[4px] lg:gap-[0.556vw]">
            <div>
              <p class="button-small">sviluppo web</p>
              <p class="button-small">realizzione e-commerce</p>
            </div>
            <div>
              <p class="button-small">seo</p>
              <p class="button-small">ui/ux design</p>
            </div>
          </div>

          <div class="mt-[44px] lg:mt-0">
            <p class="text-[32px] leading-[36px] -tracking-[0.96px] lg:text-[3.056vw] lg:-tracking-[0.092vw] lg:leading-[3.333vw] font-[700] text-bianco">web development</p>
          </div>
        </div>
        <div class="arrow-box lg:w-1/6 flex flex-row lg:flex-col lg:items-end lg:justify-end overflow-hidden items-start justify-start">
          <a href="web-development.php"><img src="img/assets/icon-arrow.svg" alt="Arrow Icon" class="w-[34px] lg:w-[4.861vw] img img-top" /></a>
          <a href="web-development.php"><img src="img/assets/icon-arrow.svg" alt="Arrow Icon" class="w-[34px] lg:w-[4.861vw] img img-bottom" /></a>
        </div>
      </div>
      <div class="bg-mandarino px-[16px] py-[44px] lg:px-[4.167vw] lg:py-[3.056vw] flex flex-col lg:flex-row lg:items-end items-start rounded-[16px] lg:rounded-[1.667vw] gap-[44px] lg:gap-[6.944vw] card-servizi">
        <div class="lg:w-1/4 flex lg:flex-col items-start lg:justify-end">
          <p class="text-[72px] leading-[76px] -tracking-[2.16px] lg:text-[9.722vw] lg:leading-[7.5vw] lg:-tracking-[0.292vw] font-[700] text-bianco">04</p>
        </div>
        <div class="lg:w-2/3 flex flex-col justify-between gap-[4px] lg:gap-[6.944vw]">
          <div class="flex flex-col gap-[4px] lg:gap-[0.556vw]">
            <div>
              <p class="button-small">advertising</p>
              <p class="button-small">digital strategy</p>
            </div>
            <div>
              <p class="button-small">content marketing</p>
              <p class="button-small">tracking&monitoring</p>
            </div>
          </div>
          <div class="mt-[44px] lg:mt-0">
            <p class="text-[32px] leading-[36px] -tracking-[0.96px] lg:text-[3.056vw] lg:-tracking-[0.092vw] lg:leading-[3.333vw] font-[700] text-bianco">digital marketing</p>
          </div>
        </div>
        <div class="arrow-box lg:w-1/6 flex flex-row lg:flex-col lg:items-end lg:justify-end overflow-hidden items-start justify-start">
          <a href="digital-marketing.php"><img src="img/assets/icon-arrow.svg" alt="Arrow Icon" class="w-[34px] lg:w-[4.861vw] img img-top" /></a>
          <a href="digital-marketing.php"><img src="img/assets/icon-arrow.svg" alt="Arrow Icon" class="w-[34px] lg:w-[4.861vw] img img-bottom" /></a>
        </div>
      </div>
      <div class="bg-giallo px-[16px] py-[44px] lg:px-[4.167vw] lg:py-[3.056vw] flex flex-col lg:flex-row lg:items-end items-start rounded-[16px] lg:rounded-[1.667vw] gap-[44px] lg:gap-[6.944vw] card-servizi">
        <div class="lg:w-1/4 flex lg:flex-col items-start lg:justify-end">
          <p class="text-[72px] leading-[76px] -tracking-[2.16px] lg:text-[9.722vw] lg:leading-[7.5vw] lg:-tracking-[0.292vw] font-[700] text-bianco">05</p>
        </div>
        <div class="lg:w-2/3 flex flex-col justify-between gap-[4px] lg:gap-[6.944vw]">
          <div class="flex flex-col gap-[4px] lg:gap-[0.556vw]">
            <div>
              <p class="button-small">phography</p>
              <p class="button-small">video production</p>
            </div>
            <div>
              <p class="button-small">reels production</p>
              <p class="button-small">art direction</p>
            </div>
          </div>
          <div class="mt-[44px] lg:mt-0">
            <p class="text-[32px] leading-[36px] -tracking-[0.96px] lg:text-[3.056vw] lg:-tracking-[0.092vw] lg:leading-[3.333vw] font-[700] text-bianco">media production</p>
          </div>
        </div>
        <div class="arrow-box lg:w-1/6 flex flex-row lg:flex-col lg:items-end lg:justify-end overflow-hidden items-start justify-start">
          <a href="media-production.php"><img src="img/assets/icon-arrow.svg" alt="Arrow Icon" class="w-[34px] lg:w-[4.861vw] img img-top" /></a>
          <a href="media-production.php"><img src="img/assets/icon-arrow.svg" alt="Arrow Icon" class="w-[34px] lg:w-[4.861vw] img img-bottom" /></a>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-nero pt-[150px] lg:py-[10.417vw] p-body">
    <div class="flex flex-col lg:flex-row items-start justify-between">
      <div class="relative w-1/5 ml-[32px] lg:ml-0">
        <!-- Primo cerchio (partenza da sinistra) -->
        <div class="absolute top-0 left-0 w-[64px] lg:w-[6.111vw] h-[64px] lg:h-[6.111vw] bg-magenta rounded-full circle-animation-1 transform mix-blend-screen"></div>
        <!-- Secondo cerchio (partenza da destra) -->
        <div class="absolute top-0 right-0 w-[64px] lg:w-[6.111vw] h-[64px] lg:h-[6.111vw] bg-giallo rounded-full circle-animation-2 transform mix-blend-screen"></div>
      </div>
      <div class="lg:w-1/2 lg:mt-0 mt-[113px]">
        <p class="text-bianco font-[700] title-small">Qui immagino una breve descrizione che introduca al team. Deve essere un’introduzione e non superare le 4 righe.</p>
      </div>
    </div>
    <div class="py-[6.944vw] flex flex-col lg:flex-row lg:justify-between lg:items-end items-start gap-[32px]">
      <div class="lg:w-1/4">
        <p class="text-bianco">Lorem ipsum dolor sit amet consectetur. Turpis non vulputate consequat odio in ultrices. Eget porta scelerisque eros orci eget dictum metus aliquam nulla.</p>
      </div>
      <div>
        <a href="" class="sub-link sub-link-dark text-bianco flex gap-[8px] lg:gap-[0.556vw]"
          >entra nello studio
          <img src="img/assets/icon-arrow.svg" class="lg:w-[0.972vw] w-[14px]" /></a
        >
      </div>
    </div>
    <section id="section-incontra-il-team" class="pb-[150px] mt-[100px] lg:mt-0 lg:pb-[10.417vw]">
      <div class="rounded-[16px] lg:rounded-[1.667vw]" id="incontra-il-team"></div>
      <p class="big-title text-bianco text-nowrap">incontra il team</p>
    </section>
  </section>
  <section class="bg-bianco flex flex-col lg:flex-row p-body py-[150px] lg:py-[300px]" id="recensioni">
    <div class="lg:w-1/2">
      <img src="img/assets/icon-quote.svg" alt="" />
      <div class="overflow-hidden -mt-11">
        <p class="text-nero title font-[700] reveal-text2">
          direttamente<br />
          dai nostri<br class="hidden lg:block" />
          clienti
        </p>
      </div>
    </div>
    <div class="lg:w-1/2">
      <div class="panels-container">
        <div class="panel bg-grigio py-[44px] px-[16px] lg:p-[3.056vw] rounded-[24px] lg:rounded-[1.667vw] flex flex-col justify-between">
          <div>
            <p>Oggi, in un mondo di creativi e di comunicatori, non è semplice uscire dalla massa e farsi notare. Lo spirito di Demia incarna questo traguardo. Freschezza, visione e passione in funzione del risultato.</p>
          </div>
          <div class="border-nero lg:border-t-[0.069vw] border-t-[1px] lg:pt-[0.694vw] pt-[8px] flex flex-row items-start justify-between mt-[75px] lg:mt-0">
            <div>
              <p class="author">simone morgantini</p>
              <p class="sub-author">marketing manager</p>
            </div>
          </div>
        </div>
        <div class="panel bg-grigio py-[44px] px-[16px] lg:p-[3.056vw] rounded-[24px] lg:rounded-[1.667vw] flex flex-col justify-between">
          <div>
            <p>Oggi, in un mondo di creativi e di comunicatori, non è semplice uscire dalla massa e farsi notare. Lo spirito di Demia incarna questo traguardo. Freschezza, visione e passione in funzione del risultato.</p>
          </div>
          <div class="border-nero lg:border-t-[0.069vw] border-t-[1px] lg:pt-[0.694vw] pt-[8px] flex flex-row items-start justify-between mt-[75px] lg:mt-0">
            <div>
              <p class="author">simone morgantini</p>
              <p class="sub-author">marketing manager</p>
            </div>
          </div>
        </div>
        <div class="panel bg-grigio py-[44px] px-[16px] lg:p-[3.056vw] rounded-[24px] lg:rounded-[1.667vw] flex flex-col justify-between">
          <div>
            <p>Oggi, in un mondo di creativi e di comunicatori, non è semplice uscire dalla massa e farsi notare. Lo spirito di Demia incarna questo traguardo. Freschezza, visione e passione in funzione del risultato.</p>
          </div>
          <div class="border-nero lg:border-t-[0.069vw] border-t-[1px] lg:pt-[0.694vw] pt-[8px] flex flex-row items-start justify-between mt-[75px] lg:mt-0">
            <div>
              <p class="author">simone morgantini</p>
              <p class="sub-author">marketing manager</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <Divano />

  <script>
    import SplitType from "split-type";
    // Inizializziamo il testo diviso in caratteri
    const splitText2 = new SplitType(".reveal-text2", { types: "chars" });

    if (splitText2 && splitText2.chars) {
      // Avvolgiamo ogni carattere in un contenitore con overflow hidden
      splitText2.chars.forEach((char) => {
        if (char && char.parentNode) {
          // Controllo per assicurarsi che char e il suo parent esistano
          const wrapper = document.createElement("div");
          wrapper.style.overflow = "hidden"; // Nasconde il carattere finché non emerge
          wrapper.style.display = "inline-block"; // Mantiene il carattere inline
          wrapper.classList.add("wrapper-class"); // Aggiunge una classe opzionale al wrapper

          // Inserisce il wrapper nel DOM e il carattere all'interno del wrapper
          char.parentNode.insertBefore(wrapper, char);
          wrapper.appendChild(char);
        }
      });

      // Creiamo l'animazione per i caratteri che emergono dal basso
      gsap.fromTo(
        splitText2.chars,
        { translateY: "100%" }, // Inizio: i caratteri partono fuori dalla vista, nascosti dal wrapper
        {
          translateY: "0%", // I caratteri si muovono verso la posizione originale
          duration: 0.35, // Durata breve per ogni carattere
          ease: "power4.out", // Movimento fluido
          stagger: 0.01, // Ritardo tra l'animazione di ogni carattere per creare l'effetto "onda"
          scrollTrigger: {
            trigger: ".reveal-text2", // Trigger generale per l'intero testo
            start: "top 200px", // Inizio quando il testo entra nel 20% della viewport
            toggleActions: "play none none none" // Anima solo una volta
          }
        }
      );
    }
  </script>

  <!-- DARK MODE -->
  <!-- <script>
const toggleButton = document.getElementById('theme-toggle');
const rootElement = document.documentElement;
toggleButton.addEventListener('click', () => {
// Controlla se la modalità scura è già attiva
if (rootElement.classList.contains('dark')) {
rootElement.classList.remove('dark');
} else {
rootElement.classList.add('dark');
}
});
</script> -->

  <!-- ANIMAZIONE TESTO INIZIALE HERO -->
  <script>
    // Impostiamo un'animazione per la prima immagine (verso sinistra)
    gsap.to(".title-hero1", {
      x: -200, // Sposta a sinistra di 200px
      scrollTrigger: {
        trigger: ".title-hero",
        start: "top 100px", // Quando il container raggiunge il centro della viewport
        scrub: true // L'animazione segue lo scroll in maniera fluida
      }
    });

    // Animazione per la seconda immagine (verso destra)
    gsap.to(".title-hero2", {
      x: 200, // Sposta a destra di 200px
      scrollTrigger: {
        trigger: ".title-hero",
        start: "top 100px",
        scrub: true
      }
    });

    // Animazione per la terza immagine (verso sinistra)
    gsap.to(".title-hero3", {
      x: -200, // Sposta a sinistra di 200px
      scrollTrigger: {
        trigger: ".title-hero",
        start: "top 100px",
        scrub: true
      }
    });
  </script>

  <!-- ANIMAZIONE VIDEO -->
  <script>
    // Animazione del video
    gsap.to(".video", {
      scale: 1, // Mantiene il video alla dimensione originale
      width: "100%", // Espande il video a tutta la larghezza del contenitore
      ease: "power4.inOut",
      scrollTrigger: {
        trigger: "#prevideo",
        start: "top 1100px", // Inizia l'animazione quando la parte superiore del video arriva al top
        end: "bottom top", // Termina quando la parte inferiore del video arriva al top della viewport
        scrub: true, // L'animazione segue lo scroll
        pin: true, // Fissa il video durante lo scroll

        onLeave: () => {
          // Appare il bordo sfumato
          gsap.to(".gradient-border", {
            height: "10px", // Altezza del bordo
            opacity: 1,
            duration: 0.2
          });
        },
        onEnterBack: () => {
          // Quando si torna indietro, il bordo sfumato scompare
          gsap.to(".gradient-border", {
            height: "0px", // Riduce l'altezza del bordo a 0
            opacity: 0,
            duration: 0.1
          });
        }
      }
    });
  </script>

  <script>
    ScrollTrigger.matchMedia({
      // Regola per desktop (larghezza >= 768px)
      "(min-width: 768px)": function () {
        var largeTL = gsap.timeline({
          scrollTrigger: {
            trigger: "#portfolio-home", // Trigger principale
            pin: ".pin-container", // Fissa il titolo
            pinSpacing: false, // Nessuno spazio extra
            start: "top top+=50", // Inizio con un piccolo offset
            endTrigger: ".scroll-container", // Fine con la scroll-container
            end: "bottom top", // Fine quando la scroll-container lascia la viewport
            scrub: true // Sincronizza con lo scroll
          }
        });

        // Fase 1: Il titolo appare con opacità da 0 a 1
        largeTL.fromTo(
          ".portfolio-text",
          {
            y: 50, // Parte leggermente spostato verso il basso
            opacity: 0 // Invisibile all'inizio
          },
          {
            y: 0, // Si muove verso il centro della viewport
            opacity: 1, // Appare con opacità 1
            duration: 0.3, // Durata dell'effetto di entrata
            ease: "power4.out" // Effetto di entrata fluido
          }
        );

        // Fase 2: Il titolo riduce l'opacità da 1 a 0.5
        largeTL.to(".portfolio-text", {
          opacity: 0.5, // Diminuisce opacità a 0.5
          duration: 0.3, // Durata della transizione
          ease: "power2.out" // Transizione morbida
        });

        // Fase 3: Scrolla via il titolo e dissolvilo fino a 0
        largeTL.to(
          ".portfolio-text",
          {
            y: "-10vh", // Scrolla via il titolo verso l'alto
            opacity: 0, // Fa scomparire il titolo gradualmente
            duration: 0.5, // Durata della dissolvenza
            ease: "power4.inOut" // Easing fluido per l'uscita
          },
          "+=0.2"
        );
      },

      // Regola per mobile (larghezza < 768px)
      "(max-width: 767px)": function () {
        var largeTL = gsap.timeline({
          scrollTrigger: {
            trigger: "#portfolio-home", // Trigger principale
            pin: ".pin-container", // Fissa il titolo
            pinSpacing: false, // Nessuno spazio extra
            start: "top top+=80", // Inizio con un piccolo offset
            endTrigger: ".scroll-container", // Fine con la scroll-container
            end: "bottom top", // Fine quando la scroll-container lascia la viewport
            scrub: true // Sincronizza con lo scroll
          }
        });

        // Fase 1: Il titolo appare con opacità da 0 a 1
        largeTL.fromTo(
          ".portfolio-text",
          {
            y: 20, // Parte leggermente spostato verso il basso
            opacity: 0 // Invisibile all'inizio
          },
          {
            y: 0, // Si muove verso il centro della viewport
            opacity: 1, // Appare con opacità 1
            duration: 0.3, // Durata dell'effetto di entrata
            ease: "power4.out" // Effetto di entrata fluido
          }
        );

        // Fase 2: Il titolo riduce l'opacità da 1 a 0.5
        largeTL.to(".portfolio-text", {
          opacity: 0.5, // Diminuisce opacità a 0.5
          duration: 0.3, // Durata della transizione
          ease: "power2.out" // Transizione morbida
        });

        // Fase 3: Scrolla via il titolo e dissolvilo fino a 0
        largeTL.to(
          ".portfolio-text",
          {
            y: "-10vh", // Scrolla via il titolo verso l'alto
            opacity: 0, // Fa scomparire il titolo gradualmente
            duration: 0.5, // Durata della dissolvenza
            ease: "power4.inOut" // Easing fluido per l'uscita
          },
          "+=0.2"
        );
      }
    });
  </script>

  <!-- CARD SERVIZI  -->
  <script>
    gsap.registerPlugin(Observer);

    Observer.create({
      target: "#pre-servizi", // can be any element (selector text is fine)
      type: "wheel,touch", // comma-delimited list of what to listen for
      onUp: () => ScrollTrigger.refresh(),
      onDown: () => ScrollTrigger.refresh(),

      onChange: (self) => {
        console.log("velocity:", self.velocityX, self.velocityY, "delta:", self.deltaX, self.deltaY, "target element:", self.target, "last event:", self.event);
      }
    });
    // Esegui il codice solo quando la pagina è completamente caricata
    window.addEventListener("load", () => {
      // Seleziona tutti gli elementi con la classe 'card-servizi'
      const cards = document.querySelectorAll(".card-servizi");

      // Loop su tutte le schede per applicare l'animazione
      cards.forEach((card, i) => {
        gsap.fromTo(
          card,
          {
            rotationX: "32deg", // Inclinazione iniziale sull'asse X
            skewY: 0, // Distorce l'elemento lungo l'asse Y
            skewX: 0, // Distorce l'elemento lungo l'asse X
            scale: 0.9, // Scala iniziale ridotta
            opacity: 0.6, // Opacità ridotta per un effetto visivo migliore
            transformPerspective: 800 // Prospettiva per l'effetto 3D
          },
          {
            rotationX: 0, // Torna alla posizione normale sull'asse X
            skewY: 0, // Rimuove la distorsione sull'asse Y
            skewX: 0, // Rimuove la distorsione sull'asse X
            scale: 1, // Torna alla scala normale (dimensione originale)
            opacity: 1, // Torna completamente visibile
            scrollTrigger: {
              trigger: card, // L'elemento che attiva l'animazione
              start: "top 130%", // Inizia quando l'elemento è nel viewport
              end: "top 20%", // Finisce quando l'elemento è più in alto nel viewport
              scrub: 0.5 // Sincronizza l'animazione con lo scorrimento
            }
          }
        );
      });

      // Rinfresca gli scrollTrigger al caricamento della pagina con un breve ritardo
      setTimeout(() => {
        ScrollTrigger.refresh();
      }, 100); // Ritardo di 100ms per consentire il caricamento completo
    });
  </script>
  <!-- TESTO INCONTRA IL TEAM + FOTO  -->
  <script>
    ScrollTrigger.matchMedia({
      // Regola per dispositivi con larghezza maggiore di 768px (desktop e tablet in landscape)
      "(min-width: 768px)": function () {
        gsap.fromTo(
          "#incontra-il-team",
          { backgroundSize: "100%" },
          {
            backgroundSize: "135%",
            ease: "power1.out", // Easing per transizione
            scrollTrigger: {
              trigger: "#incontra-il-team",
              start: "top 300px",
              end: "bottom top",
              scrub: true
            }
          }
        );
      },

      // Regola per dispositivi mobili con larghezza inferiore a 768px
      "(max-width: 767px)": function () {
        gsap.fromTo(
          "#incontra-il-team",
          { backgroundSize: "cover" },
          {
            backgroundSize: "cover", // Riduzione della variazione per schermi piccoli
            ease: "power4.out",
            scrollTrigger: {
              trigger: "#incontra-il-team",
              start: "top 200px", // Personalizzazione per mobile
              end: "bottom top",
              scrub: 0.3
            }
          }
        );
      }
    });

    gsap.fromTo(
      ".big-title",
      { x: "70%", opacity: 1 },
      {
        x: "-140%",
        opacity: 1,
        ease: "power1.out", // Aggiunto easing
        scrollTrigger: {
          trigger: "#incontra-il-team",
          start: "top 150px",
          end: "bottom top",
          scrub: true
        }
      }
    );
  </script>

  <script>
    gsap.registerPlugin(ScrollTrigger);

    // Seleziona tutti gli elementi .panel come array di HTMLElement
    const panels = gsap.utils.toArray<HTMLElement>(".panel");

    // Itera su ogni pannello per applicare l'animazione
    panels.forEach((panel, index) => {
      gsap.fromTo(
        panel,
        { y: 100, opacity: 0 }, // Partenza: fuori dallo schermo e invisibile
        {
          y: 0, // Posizione normale
          opacity: 1, // Completamente visibile
          ease: "power2.out",
          duration: 1,
          scrollTrigger: {
            trigger: panel,
            start: "top 80%", // Trigger quando il pannello è visibile all'80%
            toggleActions: "play none none reverse",
            markers: false
          },
          delay: index * 0.15 // Effetto di "stagger" per ogni pannello
        }
      );
    });
  </script>

  <!-- ANIAMZIONE DIVANO -->
  <!-- <script>
    gsap.fromTo(
      "#divano img",
      { opacity: 0, y: 0 }, // Inizio: invisibile e nella posizione originale
      {
        opacity: 1,
        y: 50, // Fine: visibile e spostata 50px verso il basso
        ease: "power4.out", // Easing per un'animazione fluida
        scrollTrigger: {
          trigger: "#unico", // La sezione che attiva l'animazione
          start: "top 80%", // Inizia quando la parte superiore della sezione è all'80% della finestra
          end: "bottom 50%", // L'animazione termina quando la parte inferiore della sezione raggiunge il 50%
          scrub: 0.5, // Attiva lo scrub per rendere l'animazione legata allo scroll
          toggleActions: "play none none none"
        }
      }
    );

    // Inizializzazione di GSAP con matchMedia
    gsap.matchMedia().add("(min-width: 768px)", () => {
      // Animazione per schermi più grandi (>=768px)
      gsap.to(".after-div", {
        height: 0, // Riduce l'altezza a zero
        width: 0, // Riduce la larghezza a zero
        ease: "power4.inOut", // Easing per una transizione fluida
        scrollTrigger: {
          trigger: "#unico", // La sezione che attiva l'animazione
          start: "top 80%", // Inizia quando la parte superiore della sezione è all'80% della finestra
          end: "bottom +=28%", // Termina prima rispetto agli altri elementi
          scrub: 0.1, // Effetto scrub
          toggleActions: "play none none none"
        }
      });
    });

    // Animazione per schermi più piccoli (<768px)
    gsap.matchMedia().add("(max-width: 767px)", () => {
      // Animazione diversa per schermi più piccoli
      gsap.to(".after-div", {
        height: "75%", // Riduce l'altezza a zero
        width: "100%", // Riduce la larghezza a zero
        ease: "power4.inOut", // Easing per una transizione fluida
        scrollTrigger: {
          trigger: "#unico", // La sezione che attiva l'animazione
          start: "top +=120%", // Inizia quando la parte superiore della sezione è all'80% della finestra
          end: "top 30%", // Termina prima rispetto agli altri elementi
          scrub: 0.5, // Effetto scrub
          toggleActions: "play none none none"
        }
      });
    });
    // Animazione per il testo "p" con scrub e ritardo
    gsap.fromTo(
      "#unico p",
      { opacity: 0, y: 100 }, // Inizio con una posizione meno estrema
      {
        opacity: 1,
        y: 0, // Fine: visibile e nella posizione originale
        ease: "power4.out", // Easing per un'animazione più fluida
        scrollTrigger: {
          trigger: "#unico", // La sezione che attiva l'animazione
          start: "top 80%", // Inizia quando la parte superiore della sezione è all'80% della finestra
          end: "bottom 50%", // Termina quando la parte inferiore della sezione raggiunge il 50%
          scrub: 0.5, // Effetto scrub
          toggleActions: "play none none none"
        }
      }
    );
    // Animazione per il pulsante ".big-button" con scrub e ritardo
    gsap.fromTo(
      "#unico .big-button",
      { opacity: 0, y: 150 }, // Inizio: invisibile e sotto l'immagine
      {
        opacity: 1,
        y: 0, // Fine: visibile e nella posizione originale
        ease: "power4.out", // Easing per un'animazione più fluida
        scrollTrigger: {
          trigger: "#unico p", // La sezione che attiva l'animazione
          start: "top 80%", // Inizia quando la parte superiore della sezione è all'80% della finestra
          end: "bottom 50%", // Termina quando la parte inferiore della sezione raggiunge il 50%
          scrub: 0.5, // Effetto scrub
          toggleActions: "play none none none"
        }
      }
    );

    document.querySelectorAll("a").forEach((link) => {
      link.addEventListener("click", function (event) {
        event.preventDefault();
        const href = this.getAttribute("href");
        if (!href) return;
        setTimeout(() => {
          window.location.href = href;
        }, 500);
      });
    });
  </script> -->
  <script src="../../public/libs/index.js"></script>
</Layout>
