<section class="bg-nero flex flex-col justify-center items-center py-[150px] lg:pt-[10.417vw]" id="unico">
  <p class="text-bianco title font-[700] text-center">
    diamo vita<br class="hidden lg:block" />
    a<br class="lg:hidden block" /> qualcosa<br class="lg:hidden block" /> di unico.<br />
  </p>
  <a href="contatti" class="relative z-40 mt-[44px] lg:mt-[3.056vw] mb-[4.236vw]">
    <button class="big-button !transition-none" data-hover="siediti con noi">
      <h3>mettiti comodo</h3>
      <span class="-z-[10]"></span>
    </button>
  </a>
  <div id="divano" class="relative">
    <img src="img/page/home/divano.png" alt="" class="relative z-[4] w-[314px] lg:w-auto" />
    <div class="after-div"></div>
  </div>
</section>

<script>
  document.addEventListener("astro:page-load", () => {
    gsap.fromTo(
      "#divano img",
      {
        opacity: 0,
        y: 0
      }, // Inizio: invisibile e nella posizione originale
      {
        opacity: 1,
        y: 50, // Fine: visibile e spostata 50px verso il basso
        ease: "power4.out", // Easing per un'animazione fluida
        scrollTrigger: {
          trigger: "#unico", // La sezione che attiva l'animazione
          start: "top 80%", // Inizia quando la parte superiore della sezione è all'80% della finestra
          end: "bottom 50%", // L'animazione termina quando la parte inferiore della sezione raggiunge il 50%
          scrub: 0.5, // Attiva lo scrub per rendere l'animazione legata allo scroll
          toggleActions: "play none none none"
        }
      }
    );

    // Inizializzazione di GSAP con matchMedia
    gsap.matchMedia().add("(min-width: 768px)", () => {
      // Animazione per schermi più grandi (>=768px)
      gsap.to(".after-div", {
        height: 0, // Riduce l'altezza a zero
        width: 0, // Riduce la larghezza a zero
        ease: "power4.inOut", // Easing per una transizione fluida
        scrollTrigger: {
          trigger: "#unico", // La sezione che attiva l'animazione
          start: "top 80%", // Inizia quando la parte superiore della sezione è all'80% della finestra
          end: "bottom +=28%", // Termina prima rispetto agli altri elementi
          scrub: 0.1, // Effetto scrub
          toggleActions: "play none none none"
        }
      });
    });

    // Animazione per schermi più piccoli (<768px)
    gsap.matchMedia().add("(max-width: 767px)", () => {
      // Animazione diversa per schermi più piccoli
      gsap.to(".after-div", {
        height: "75%", // Riduce l'altezza a zero
        width: "100%", // Riduce la larghezza a zero
        ease: "power4.inOut", // Easing per una transizione fluida
        scrollTrigger: {
          trigger: "#unico", // La sezione che attiva l'animazione
          start: "top +=120%", // Inizia quando la parte superiore della sezione è all'80% della finestra
          end: "top 30%", // Termina prima rispetto agli altri elementi
          scrub: 0.5, // Effetto scrub
          toggleActions: "play none none none"
        }
      });
    });
    // Animazione per il testo "p" con scrub e ritardo
    gsap.fromTo(
      "#unico p",
      {
        opacity: 0,
        y: 100
      }, // Inizio con una posizione meno estrema
      {
        opacity: 1,
        y: 0, // Fine: visibile e nella posizione originale
        ease: "power4.out", // Easing per un'animazione più fluida
        scrollTrigger: {
          trigger: "#unico", // La sezione che attiva l'animazione
          start: "top 80%", // Inizia quando la parte superiore della sezione è all'80% della finestra
          end: "bottom 50%", // Termina quando la parte inferiore della sezione raggiunge il 50%
          scrub: 0.5, // Effetto scrub
          toggleActions: "play none none none"
        }
      }
    );
    // Animazione per il pulsante ".big-button" con scrub e ritardo
    gsap.fromTo(
      "#unico .big-button",
      {
        opacity: 0,
        y: 150
      }, // Inizio: invisibile e sotto l'immagine
      {
        opacity: 1,
        y: 0, // Fine: visibile e nella posizione originale
        ease: "power4.out", // Easing per un'animazione più fluida
        scrollTrigger: {
          trigger: "#unico p", // La sezione che attiva l'animazione
          start: "top 80%", // Inizia quando la parte superiore della sezione è all'80% della finestra
          end: "bottom 50%", // Termina quando la parte inferiore della sezione raggiunge il 50%
          scrub: 0.5, // Effetto scrub
          toggleActions: "play none none none"
        }
      }
    );
  });
</script>
