<section class="bg-nero flex flex-col justify-center items-center py-[150px] lg:pt-[10.417vw]" id="unico">
  <p class="text-bianco title font-[700] text-center">
    diamo vita<br class="hidden lg:block" />
    a<br class="lg:hidden block" /> qualcosa<br class="lg:hidden block" /> di unico.<br />
  </p>
  <a href="contatti" class="relative z-40 mt-[44px] lg:mt-[3.056vw] mb-[4.236vw]">
    <button class="big-button !transition-none" data-hover="siediti con noi">
      <h3>siediti con noi</h3>
      <span class="-z-[10]"></span>
    </button>
  </a>
  <div id="divano" class="relative">
    <img src="img/page/home/divano.png" alt="" class="relative z-[4] w-[314px] lg:w-auto" />
    <div class="after-div"></div>
  </div>
</section>
