@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors duration-500 ease-in-out;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  overflow-x: hidden;
}

.stop-scroll {
  overflow: hidden;
}

b {
  font-weight: 700;
}

body,
html {
  overflow-x: hidden;
}

.custom-cursor-general {
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  mix-blend-mode: exclusion;
  z-index: 9000;
  transition: transform 0.2s ease-out;
}

@layer components {
  h1 {
    @apply text-[5vw];
    @apply leading-[5.556vw];
    @apply -tracking-[0.15vw];
  }

  p {
    @apply text-[1.111vw];
    @apply leading-[1.389vw];
    @apply -tracking-[0.033vw];
  }
}

.title {
  @apply text-[5vw];
  @apply leading-[4.556vw];
  @apply -tracking-[0.15vw];
}

.title-small {
  @apply text-[3.056vw];
  @apply leading-[3.333vw];
  @apply -tracking-[0.092vw];
}

.title-32 {
  @apply text-[2.222vw];
  @apply leading-[2.5vw];
}

.big-title {
  @apply text-[20.833vw] -tracking-[0.625vw] font-[700];
}

.p-body {
  padding-left: 2.222vw;
  padding-right: 2.222vw;
}

.content {
  z-index: 99999;
}

.contatore {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  color: #000;
  background-color: #221f20;
}

.load {
  position: absolute;
  right: 2.222vw;
  bottom: 2.222vw;
  font-size: 5.556vw;
  color: #fff;
  font-weight: 700;
  letter-spacing: -2.4px;
  line-height: 5.556vw;
}

.container-foto {
  width: 21.111vw;
  height: 23.681vw;
  border-radius: 1.667vw;
  overflow: hidden;
  z-index: 1;
}

.foto {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  object-fit: cover;
  border-radius: 1.667vw;
}

.bar {
  width: 10vw;
  height: 105vh;
  background-color: #fff;
}

.overlayhero {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #221f20;
}

header p {
  font-size: 0.972vw;
  font-weight: 400;
  letter-spacing: -0.039vw;
}

.icon-1,
.icon-2,
.icon-3 {
  position: absolute;
  right: 0;
  top: 62%;
  width: 2.222vw;
  height: 0.104vw;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 100px;
  transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
}

.icon-1 {
  transform: translateY(-8px);
  animation-delay: 100ms;
}

.icon-2 {
  animation-delay: 250ms;
}

.hamburger-icon {
  position: relative;
  height: 2.08vw;
  width: 2.29vw;
  z-index: 1000;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.icon-1.a {
  transform: rotate(45deg);
  background-color: #ffffff;
  top: 50%;
}

.icon-2.b {
  transform: rotate(-45deg);
  width: 2.222vw;
  background-color: #ffffff;
  top: 50%;
}

#nav ul li {
  @apply mb-[1.111vw] leading-[1.944vw];
}
#nav ul li a {
  @apply text-bianco font-[700] text-[1.667vw] leading-[1.944vw];
}

.button-small {
  @apply text-bianco backdrop-blur-lg rounded-[100px] bg-[#ffffff40] gap-[0.556vw] py-[0.833vw] px-[1.389vw] inline-block text-[0.972vw] leading-[0.972vw] -tracking-[0.039vw];
}

.card-servizi .button-small {
  @apply text-bianco backdrop-blur-lg rounded-[100px] bg-[rgba(0,0,0,0.10)] gap-[0.556vw] py-[0.833vw] px-[1.389vw] inline-block  text-[0.972vw] leading-[0.972vw] -tracking-[0.039vw];
}

#video-home .video {
  border-radius: 24px 24px 0px 0px;
}

.title-menu {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.title-menu span,
.title-menu h6 {
  display: block;
  transition: transform 0.4s ease-in-out;
}

.title-menu .text {
  transform: translateY(0);
}

.title-menu .hover-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(100%);
}

.title-menu:hover .text {
  transform: translateY(-100%);
}

.title-menu:hover .hover-text {
  transform: translateY(0);
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.content.open {
  max-height: 500px;
}

.content ul {
  list-style: none;
}

.content ul li {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.2s ease, transform 0.3s ease;
  margin-bottom: 0 !important;
}

.content ul li a {
  @apply !text-bianco !text-[1.111vw] !leading-[1.389vw] !-tracking-[0.033vw] !font-[300];
}

.content.show ul li {
  opacity: 1;
  transform: translateY(0);
}

.gradient-border {
  width: 100%;
  height: 0;
  @apply bg-sfumatura;
  transition: height 0.2s ease-in-out;
}

#loghi-clienti img {
  @apply opacity-50 mix-blend-difference;
}

#portfolio-home .title {
  @apply text-bianco text-[5vw] leading-[5.278vw] -tracking-[0.15vw] font-[700] mb-[1.667vw];
}

#portfolio-home .box-portfolio-home {
  @apply mb-[12.5vw];
}

.pin-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.big-button {
  padding: 3.056vw 4.444vw;
  font-size: 3.056vw;
  color: white;
  border-radius: 1000px;
  font-weight: 700;
  background-color: transparent;
  border: 0.1vw solid white;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.big-button-dark {
  padding: 3.056vw 4.444vw;
  font-size: 3.056vw;
  color: #221f20;
  border-radius: 1000px;
  font-weight: 700;
  background-color: transparent;
  border: 0.139vw solid #221f20;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.big-button span {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 1000px;
  background-color: #fff;
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.big-button-dark span {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 1000px;
  background-color: #221f20;
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.big-button:hover {
  background-image: linear-gradient(90deg, #e6007e 0%, #f9b000 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.big-button:hover h3 {
  background-image: linear-gradient(90deg, #e6007e 0%, #f9b000 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.big-button-dark:hover h3 {
  background-image: linear-gradient(90deg, #e6007e 0%, #f9b000 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.big-button-dark:hover {
  background-image: linear-gradient(90deg, #e6007e 0%, #f9b000 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.big-button:hover span {
  width: 225%;
  height: 500%;
}

.big-button-dark:hover span {
  width: 225%;
  height: 500%;
}

.big-button-small {
  padding: 1.667vw;
  font-size: 1.667vw;
  color: white;
  border-radius: 1000px;
  font-weight: 700;
  background-color: transparent;
  border: 0.1vw solid white;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  line-height: 1.667vw;
}

.big-button-small:hover {
  background-image: linear-gradient(90deg, #e6007e 0%, #f9b000 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.big-button-small span {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 1000px;
  background-color: #fff;
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  transform: translate(-50%, -31%);
  z-index: -1;
}

.big-button-small:hover span {
  width: 225%;
  height: 500%;
}

.big-button-small:hover .arrow-box {
}

.arrow-box {
  position: relative;
  overflow: hidden;
  height: 4.861vw;
}

.arrow-box-small {
  position: relative;
  overflow: hidden;
  height: 1.319vw;
}

.big-button-small:hover .arrow-box-small .img-top {
  transform: translateY(-100%);
}

.big-button-small:hover .arrow-box-small .img-bottom {
  transform: translateY(-100%);
}

.big-button-small:not(:hover) .img-top {
  transform: translateY(0);
}

.big-button-small:not(:hover) .img-bottom {
  transform: translateY(100%);
}

.img {
  position: absolute;
  right: 0;
  bottom: 0;
  transition: transform 0.3s ease-in-out;
}

.img-top {
  top: 0;
  transform: translateY(0);
  z-index: 1;
}

.img-bottom {
  top: 100%;
  transform: translateY(0);
  z-index: 0;
}

.arrow-box:hover .img-top {
  transform: translateY(-100%);
}

.arrow-box:hover .img-bottom {
  transform: translateY(-100%);
}

.arrow-box:not(:hover) .img-top {
  transform: translateY(0);
}

.arrow-box:not(:hover) .img-bottom {
  transform: translateY(100%);
}

@keyframes circleMovementLeft {
  0% {
    left: 0;
  }
  45% {
    left: calc(50% - 2rem);
  }
  55% {
    left: calc(50% - 2rem);
  }
  100% {
    left: calc(67%);
  }
}

@keyframes circleMovementRight {
  0% {
    right: 0;
  }
  45% {
    right: calc(50% - 2rem);
  }
  55% {
    right: calc(50% - 2rem);
  }
  100% {
    right: calc(67%);
  }
}

.circle-animation-1 {
  animation: circleMovementLeft 4s ease-in-out infinite alternate;
}

.circle-animation-2 {
  animation: circleMovementRight 4s ease-in-out infinite alternate;
}

.sub-link {
  @apply text-[1.389vw] -tracking-[0.042vw] leading-[1.667vw] relative;
}

.sub-link-dark::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 0%;
  height: 0.09vw;
  background-color: #fff;
  transition: width 0.4s ease-in-out;
}

.sub-link-light::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 0%;
  height: 0.09vw;
  background-color: #221f20;
  transition: width 0.4s ease-in-out;
}

.sub-link:hover::after {
  width: 100%;
}

.over-linea-magenta:hover {
  --tw-shadow: inset 0 0 0 0.139vw #e70e74 !important;
  --tw-shadow-colored: inset 0 0 0 0.139vw var(--tw-shadow-color) !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.over-linea-arancio:hover {
  --tw-shadow: inset 0 0 0 0.139vw #ef5740 !important;
  --tw-shadow-colored: inset 0 0 0 0.139vw var(--tw-shadow-color) !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.over-linea-giallo:hover {
  --tw-shadow: inset 0 0 0 0.139vw #f7a008 !important;
  --tw-shadow-colored: inset 0 0 0 0.139vw var(--tw-shadow-color) !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

#incontra-il-team {
  background-image: url("../img/page/home/incontra-il-team.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 47.222vw;
}

#box-ciao {
  background-image: url("../img/page/home/incontra-il-team.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 47.222vw;
}

#lavora-con-noi {
  background-image: url("../img/page/about/finale-chisiamo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 47.222vw;
}

.panel {
  @apply h-[22.22vw]  mb-10;
}

.author {
  @apply text-nero font-[700] leading-[1.389vw] text-[1.111vw] -tracking-[0.033vw];
}

.sub-author {
  @apply text-nero opacity-50 font-[300] leading-[1.389vw] text-[0.833vw] -tracking-[0.033vw];
}

.after-div {
  position: absolute;
  height: 419px;
  width: 90%;
  background-image: linear-gradient(90deg, #e6007e 0%, #f9b000 100%);
  bottom: -51px;
  z-index: 2;
  border-radius: 1000px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#unico p,
#unico .big-button {
  opacity: 0;
  transform: translateY(350px);
}

.text-sfumatura {
  background-image: linear-gradient(90deg, #e6007e 0%, #f9b000 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

#finalfooter p {
  @apply text-bianco !text-[0.972vw] -tracking-[0.029vw];
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}

.marquee-text a {
  @apply font-[600] text-bianco text-[1.667vw] leading-[1.944vw] -tracking-[0.05vw];
}

.marquee-inner {
  display: flex;
  align-items: center;
  gap: 6.944vw;
}

.marquee-info {
  display: flex;
  align-items: center;
  gap: 6.944vw;
}

.marquee-info span {
  @apply text-grigio/50 gap-[4.167vw];
}

.marquee-team {
  display: flex;
  align-items: center;
  gap: 3.056vw;
}

#list-about {
  will-change: transform, opacity;
}

#list-about img {
  object-fit: cover;
}

#list-about {
  transform: translate3d(0, 0, 0);
  transition: none;
  transform: translatex(-36px);
}

.line {
  display: block;
  width: 100%;
}

.year-display {
  position: absolute;
  z-index: 10;
  color: #fff;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
}
.panel2 {
  flex: 0 0 100vw;
  height: 100vh;
}

.box-team .name {
  @apply text-bianco text-[1.667vw] font-[700] leading-[1.944vw] -tracking-[0.05vw];
}

.box-team .role {
  @apply text-bianco text-[1.111vw] font-[300] leading-[1.944vw] -tracking-[0.05vw] -mt-[0.3vw];
}

.team {
  height: 40.278vw;
  border-radius: 1.667vw;
}

.team video {
  height: 100%;
  object-fit: cover;
  border-radius: 1.667vw;
  width: 100%;
}

.team-video {
  object-fit: cover;
  border-radius: 1.667vw;
  height: 40.278vw;
  width: 100%;
}

.popup.active {
  transform: translateX(0);
}

.popup-content {
  margin-top: 50px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.popteam {
  position: fixed;
  top: 0;
  right: 0;
  width: 45.278vw;
  height: 100vh;
  background-color: #221f20;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 100;
  box-sizing: border-box;
  opacity: 0;
  border-radius: 1.667vw 0 0 1.667vw;
}

.popteam.active {
  transform: translateX(0%);
  opacity: 1;
  transition: transform 0.3s ease-in-out;
}

.popteam-content {
  height: 85vh;
  overflow-y: auto;
  box-sizing: border-box;
  z-index: 999;
  position: relative;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  z-index: 40;
  transition: opacity 0.3s ease-in-out;
}

#overlay.show {
  opacity: 0.8;
  display: block;
}

body.popup-open,
html.popup-open {
  overflow: hidden;
}

#circle-onair {
  transition: all 0.4s ease;
}

.move-right {
  left: calc(100% - 4.861vw + 2px);
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    opacity: 1;
    box-shadow: 0 0 20px #fb72bd, 0 0 30px #fb72bd, inset 0 0 58px #fb72bd;
  }
  20%,
  24%,
  55% {
    opacity: 0.6;
    box-shadow: none;
  }
}

#ledonair.flicker {
  animation: flicker 1.5s alternate;
}

#ledonair.on {
  opacity: 1;
  box-shadow: 0 0 20px #fb72bd, 0 0 30px #fb72bd, inset 0 0 58px #fb72bd;
}

.title-section {
  @apply font-[700] text-[8.333vw] leading-[8.611vw] -tracking-[0.25vw];
}

.title-testimonial {
  @apply font-[400] text-[3.889vw] leading-[4.167vw] -tracking-[0.117vw];
}

input[type="checkbox"] {
  display: none;
}

.custom-checkbox {
  @apply p-[1.667vw] w-fit rounded-[10000px] bg-transparent cursor-pointer text-bianco border-[0.139vw] border-bianco text-[1.667vw] block;
  transition: background-color 0.3s ease;
}

.custom-checkbox:hover {
  @apply bg-bianco text-nero;
}

input[type="checkbox"]:checked + .custom-checkbox {
  @apply bg-bianco text-nero;
}

input[type="radio"]:checked + .custom-checkbox {
  @apply bg-bianco text-nero;
}

.custom-checkbox-dark {
  @apply p-[1.667vw] w-fit rounded-[10000px] bg-transparent cursor-pointer text-nero border border-nero text-[1.667vw] block;
  transition: background-color 0.3s ease;
}

.custom-checkbox-dark:hover {
  @apply bg-nero text-bianco;
}

input[type="checkbox"]:checked + .custom-checkbox-dark {
  @apply bg-nero text-bianco;
}

.changeword {
  display: inline-block;
  position: relative;
}

.changeword div {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8.933vw;
}

input[type="text"],
input[type="email"],
input[type="number"] {
  width: 100%;
  color: #fff;
  font-size: 16px;
  border-bottom: 0.139vw solid #fff;
  outline: none;
  font-weight: 400;
  line-height: 64px;
  padding-bottom: 0px;
  margin-bottom: 20px;
  background-color: transparent;
  @apply border-bianco/20;
}

.label-input {
  position: absolute;
  top: 50%;
  left: 0px;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.2s ease-in-out;
}

input[type="text"]:focus + label,
input[type="email"]:focus + label,
input[type="number"]:focus + label,
input[type="text"]:not(:placeholder-shown) + label,
input[type="email"]:not(:placeholder-shown) + label,
input[type="number"]:not(:placeholder-shown) + label {
  top: -0px;
  left: 0px;
  padding-bottom: 0px;
  font-size: 12px;
  color: #fff;
  opacity: 1;
}

.custom-privacy {
  width: 1.667vw;
  height: 1.667vw;
  padding: 0;
}

.box-portfolio:first-child {
  grid-column: span 2 / span 2;
}

.box-portfolio:nth-child(3n + 1) {
  grid-column: span 2 / span 2;
}

.box-portfolio {
  filter: saturate(1.3);
}

#bg-overlay-portfolio {
  @apply bg-nero/20 rounded-[1.667vw];
}

.accordion-item:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  right: 0;
  top: 0;
  transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.accordion-item:has(.accordion-content.open):after {
  width: 0%;
  background-color: transparent;
}

.accordion-item:has(.accordion-content.open) .accordion-header h5,
.accordion-item:has(.accordion-content.open) .accordion-header .symbol {
  padding: 0;
  z-index: auto;
}

.accordion-item {
  border-top: 0.1vw solid #1d1d1b;
  overflow: hidden;
  position: relative;
  padding: 1.667vw 0px;
}

#accordion-container .accordion-item:last-child {
  border-bottom: 0.1vw solid #1d1d1b;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.accordion-header h5 {
  color: #221f20;
  font-size: 1.667vw;
  font-weight: 700;
  line-height: 0;
  letter-spacing: -0.05vw;
}

.accordion-header.open h5 {
  color: #e6007e;
}

.accordion-header:hover h5 {
  color: #e6007e;
}

.accordion-header:hover .symbol {
  color: #e6007e;
}

.symbol {
  color: #221f20;
  font-size: 3.222vw;
  font-weight: 200;
  line-height: 1.667vw;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.number-accordion-service {
  @apply text-nero/20 text-[1.667vw] font-[700] leading-[1.944vw];
}

.accordion-item-small:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  right: 0;
  top: 0;
  transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.accordion-item-small:has(.accordion-content-small.open):after {
  width: 0%;
  background-color: transparent;
}

.accordion-item-small:has(.accordion-content-small.open) .accordion-header-small h5,
.accordion-item-small:has(.accordion-content-small.open) .accordion-header-small .symbol-small {
  padding: 0;
  z-index: auto;
}

.accordion-item-small {
  overflow: hidden;
  position: relative;
  padding: 1.667vw 0px;
}

.accordion-header-small {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.accordion-header-small p {
  color: #fff;
}

.accordion-item-small .accordion-header-small p {
  font-size: 1.667vw;
}

.accordion-item-small .symbol {
  color: #fff;
  font-size: 3.222vw;
  font-weight: 200;
  line-height: 1.667vw;
}

.accordion-content-small {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#bg-web-faq {
  background-image: url("../img/page/home/incontra-il-team.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 47.222vw;
}

.tag {
  border: 0.069vw solid #fff;
  padding: 0.833vw 1.389vw;
  border-radius: 10000px;
  color: #fff;
  font-size: 1.111vw;
  font-weight: 400;
  letter-spacing: -0.044vw;
}

.tag-nero {
  border: 0.069vw solid #1d1d1b;
  padding: 0.833vw 1.389vw;
  border-radius: 10000px;
  color: #1d1d1b;
  font-size: 1.111vw;
  font-weight: 400;
  letter-spacing: -0.044vw;
}

.portfolio-immagini {
  @apply h-full w-full object-cover rounded-[1.667vw];
}

#overlayportfolio {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #221f20;
  opacity: 1;
  pointer-events: none;
  transition: opacity 0.5s ease;
  z-index: 1000;
}

/* Nascondiamo l'overlay dopo la dissolvenza */
#overlayportfolio.fade-out {
  opacity: 0;
}

.custom-cursor {
  position: fixed;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: none;
  mix-blend-mode: exclusion;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  cursor: none !important;
  @apply bg-bianco/20 backdrop-blur-xl text-bianco font-[700];
}

.cursor-conosci {
  width: 150px;
  height: 150px;
}

@media screen and (max-width: 992px) {
  h1 {
    @apply text-[40px];
    @apply leading-[48px];
    @apply -tracking-[1.32px];
  }

  p {
    @apply text-[16px];
    @apply leading-[20px];
    @apply -tracking-[0.48px];
  }

  header p {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.56px;
  }

  .link-rapidi-bb {
    display: flex;
    gap: 8px;
  }

  .icon-1,
  .icon-2,
  .icon-3 {
    position: absolute;
    right: 0;
    top: 62%;
    width: 20px;
    height: 2px;
    background-color: #ffffff;
  }

  .icon-2 {
    top: 5px;
  }

  .hamburger-icon {
    position: relative;
    height: 12px;
    width: 20px;
    z-index: 1000;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    top: 4px;
  }

  #nav ul li a {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }

  #nav ul li {
    margin-bottom: 16px;
    line-height: 24px;
  }

  .pin-container {
    height: 30vh;
  }

  .icon-2.b {
    width: 20px;
  }

  .content ul li a {
    @apply !text-bianco !text-[14px] !leading-[18px] !-tracking-[0.42px] !font-[300];
  }

  .sub-link {
    @apply text-[16px] -tracking-[0.48px] leading-[20px] relative;
  }

  .title-small {
    @apply text-[32px];
    @apply leading-[36px];
    @apply -tracking-[0.96px];
  }

  .p-body {
    padding-left: 16px;
    padding-right: 16px;
  }

  .arrow-box {
    height: 34px;
    width: 34px;
  }

  .card-servizi .button-small {
    @apply text-bianco backdrop-blur-lg rounded-[100px] bg-[rgba(0,0,0,0.10)] gap-[4px] py-[12px] px-[20px] inline-block text-[12px] leading-[12px] -tracking-[0.36px];
  }

  .button-small {
    @apply text-bianco backdrop-blur-lg rounded-[100px] bg-[#ffffff40] gap-[4px] py-[12px] px-[20px] inline-block  text-[12px] leading-[12px] -tracking-[0.36px];
  }

  .button-home {
    @apply !text-[14px];
  }

  .author {
    @apply text-nero font-[700] leading-[20px] text-[16px] -tracking-[0.48px];
  }

  .sub-author {
    @apply text-nero opacity-50 font-[300] leading-[20px] text-[12px] -tracking-[0.36px];
  }

  .panel {
    height: auto;
    margin-bottom: 20px;
  }

  #portfolio-home .title {
    margin-bottom: 1.667vw;
    font-size: 40px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -1.32px;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }

  footer p {
    font-size: 20px;
    line-height: 24px; /* 120% */
    letter-spacing: -0.6px;
  }

  .marquee-text a {
    @apply font-[600] text-bianco text-[20px] leading-[24px] -tracking-[0.6px];
  }

  #finalfooter p {
    @apply text-bianco !text-[12px] -tracking-[0.36px] leading-[16px];
  }

  .title {
    @apply text-[44px];
    @apply leading-[48px];
    @apply -tracking-[1.32px];
  }

  .big-button {
    padding: 32px 24px;
    font-size: 32px;
    color: white;
    border-radius: 1000px;
    font-weight: 700;
    background-color: transparent;
    border: 0.1vw solid white;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
  }

  .big-button-dark {
    padding: 32px 24px;
    font-size: 32px;
  }

  .after-div {
    position: absolute;
    height: 419px;
    width: 90%;
    bottom: -94px;
  }

  .big-title {
    @apply text-[60px] -tracking-[1.8px] font-[700] leading-[0px];
  }

  #incontra-il-team {
    height: 420px;
    background-size: cover;
  }

  #lavora-con-noi {
    height: 420px;
  }

  #box-ciao {
    height: 480px;
  }

  #list-about {
    transform: translatex(-16px);
  }

  .team {
    height: 480px;
  }

  .team video {
    border-radius: 16px;
  }

  .box-team .name {
    @apply text-bianco text-[20px] font-[700] leading-[24px] -tracking-[0.6px];
  }

  .box-team .role {
    @apply text-bianco text-[20px] font-[300] leading-[24px] -tracking-[0.6px] lg:-mt-[0.3vw] mt-[4px];
  }

  .move-right {
    left: calc(100% - 46px + 2px);
  }

  .popteam {
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    height: 100%;
    background-color: #221f20;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 100;
    box-sizing: border-box;
    opacity: 0;
    border-radius: 16px 0 0 16px;
  }

  .team-video {
    object-fit: cover;
    border-radius: 16px;
    height: 330px;
    width: 100%;
  }

  .popteam-content {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .custom-privacy {
    width: 24px;
    height: 24px;
    padding: 16px !important;
  }

  .custom-checkbox {
    padding: 16px 24px;
    font-size: 16px;
  }

  .custom-checkbox-dark {
    @apply px-[24px] py-[16px] text-[16px];
  }

  .box-portfolio:first-child {
    grid-column: span 2 / span 1;
  }
  .box-portfolio:nth-child(1n + 1) {
    grid-column: span 2 / span 2;
  }

  .box-portfolio:nth-child(2n + 1) {
    grid-column: span 2 / span 2;
  }

  .box-portfolio:nth-child(3n + 1) {
    grid-column: span 2 / span 1;
  }

  .tag {
    border: 1px solid #fff;
    padding: 12px 20px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.56px;
  }

  .tag-nero {
    border: 1px solid #1d1d1b;
    padding: 12px 20px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.56px;
  }

  .title-32 {
    @apply text-[24px];
    @apply leading-[28px];
  }

  .number-accordion-service {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    color: rgb(34 31 32 / 0.2);
  }

  #accordion-container .accordion-item:last-child {
    border-bottom: 1px solid #1d1d1b;
  }

  .accordion-item {
    border-top: 1px solid #1d1d1b;
    padding: 24px 0px;
  }

  .accordion-header h5 {
    color: #221f20;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.6px;
  }

  .symbol {
    color: #221f20;
    font-size: 24px;
    font-weight: 200;
    line-height: 24px;
  }

  .title-section {
    font-size: 52px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -1.56px;
  }

  #bg-web-faq {
    height: 300px;
  }

  .accordion-item-small .accordion-header-small p {
    font-size: 20px;
  }

  .accordion-item-small .symbol {
    color: #fff;
    font-size: 24px;
    font-weight: 200;
    line-height: 24px;
  }

  .accordion-item-small {
    padding: 0px 0px 32px 0px;
  }

  .big-button-small {
    padding: 16px 24px;
    font-size: 16px;
    border: 1px solid white;
    line-height: normal;
  }

  .arrow-box-small {
    position: relative;
    overflow: hidden;
    height: 19px;
  }

  .changeword div {
    height: 56px;
  }

  #video-home .video {
    scale: 0.6;
  }
}
